node_modules
.expo
.expo-shared
dist
build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
*.log
.env
.env.local
.DS_Store
.idea
.vscode/*.local
ios/Pods
android/.gradle
android/local.properties
*.iml
android